* {
    margin: 0 auto;
    padding: 0;
    font-size: 24px;
}

body {
    background: linear-gradient(to top, rgb(108, 131, 116) 0%, rgba(83, 199, 114, 1) 100%);
    height: 100vh;
}

#title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    font-size: 34px;
    font-weight: bold;
}

#gameContainer {
    position: relative;
    width: 90%;
    height: 600px;
    border: 1px solid black;
    top: 100px;
    background: linear-gradient(to top, rgb(58, 204, 106) 0%, rgb(108, 184, 128)100%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.34);
}

#timer {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.253);
    font-size: 16px;
}

#sentence {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 40%;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}

#answer {
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translateX(-50%);
    width: 90% !important;
    height: 30% !important;
    padding: 5px;
}

#startBtn {
    position: absolute;
    bottom: 20px;
    left: 5%;
}

#resetBtn {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 5%;
}